<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <title>StopWatch</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
         .Title .editIcon {
            opacity: 0;
            transition: all 0.5s;
            cursor: pointer;
         }
        .Title:hover .editIcon {
            opacity: 1;
         }
        .Title .form-control {
            height: 60px;
            font-size: 24px;
         }
        .Digit {
            width: 150px;
            height: 150px;
            border: 4px solid;
            border-radius: 50%; 
         }
    </style>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">

        class Title extends React.Component {
            constructor(props){
                super(props)
                this.state ={
                    title: 'This is a Dummy title',
                    isInput: false
                }
            }
            editHandeler(){
                this.setState({
                    ...this.state,
                    isInput: true
                })
            }
            inputChange(event){
                this.setState({
                    ...this.state,
                    title: event.target.value
                })
            }
            keyPressHandler(event){
                if (event.key === 'Enter'){
                    this.setState({
                        ...this.state,
                        isInput: false
                    })
                }
            }
            blurHandler(event){
                this.setState({
                    ...this.state,
                    isInput: false
                 })
             }
            

            render() {
                let output = null

                if (this.state.isInput){
                    output = (
                        <div className='Title'>
                            <input 
                                className='form-control'
                                onChange={ event => this.inputChange(event) } 
                                onKeyPress={ event => this.keyPressHandler(event) }
                                onBlur={event => this.blurHandler(event)}
                                type='text' 
                                value={ this.state.title } 
                                
                            />
                        </div>
                    )
                }else{
                    output = (
                        <div className='d-flex Title'>
                            <h1 className='display-4'> {this.state.title} </h1>
                            <span onClick={ () => this.editHandeler() } className='ml-auto editIcon'>
                            <i className="fas fa-pencil-alt"></i>
                            </span>
                        </div>
                    )
                }
                return(
                    <div>
                        {output}
                    </div>
                )

            }
        }
        
        const Digit = (props) => {
            return (
                <div className='Digit mx-4 text-center' style={{ borderColor: props.color}}>
                    <h1 className='display-2 py-3' style={{ color: props.color}}>
                        {props.value < 10 ? `0${props.value}` : props.value}
                    </h1>
                </div>
            )
         }

        const CountDown = (props) => {
            return (
                <div className='d-flex my-5'>
                    <Digit color='palegreen' value={props.time.min} />
                    <Digit color='skyblue' value={props.time.sec} />
                    <Digit color='salmon' value={props.time.mili} />
                </div>
            )
        }
        class Controller extends React.Component {
            constructor(props) {
                super(props)
                this.state = {
                    start: true,
                    pause: false,
                    lap: false,
                    reset: false
                }
            }
            startHandler(){
                this.setState({
                    ...this.state,
                    start: false,
                    pause: true,
                    lap: true
                })
                this.props.start()
            }
            pauseHandler(){
                this.setState({
                    ...this.state,
                    start: true,
                    pause: false,
                    lap: false,
                    reset: true
                })
                this.props.pause()
            }
            lapHandler(){
                this.props.lap()
            }
            resetHandler(){
                this.setState({
                    start: true,
                    pause: false,
                    lap: false,
                    reset: false
                })
                 this.props.reset()
            }
            
            getController(){
                let output = null

                if (this.state.start && !this.state.reset) {
                    output = (
                        <div className='my-5'>
                            <button 
                                className='btn btn-success btn-lg px-5 ml-5'
                                onClick={ event => this.startHandler() }
                                >
                                Start
                                </button>
                        </div>
                    )
                }else if (this.state.pause && this.state.lap) {
                    output = (
                        <div className='my-5'>
                        <button 
                            className='btn btn-primary btn-lg px-5 ml-5'
                            onClick={ event => this.pauseHandler() }
                            >
                            Pause
                        </button>
                        <button 
                            className='btn btn-warning btn-lg px-5 ml-5'
                            onClick={ event => this.lapHandler() }
                            >
                            Lap
                        </button>
                    </div>
                    )
                }else if (this.state.start && this.state.reset) {
                    output = (
                        <div className='my-5'>
                        <button 
                            className='btn btn-success btn-lg px-5 ml-5'
                            onClick={ event => this.startHandler() }
                            >
                            Start
                        </button>
                        <button 
                            className='btn btn-danger btn-lg px-5 ml-5'
                            onClick={ event => this.resetHandler() }
                            >
                            Reset
                        </button>
                    </div>
                    )
                }
                return output
            }
            render(){
                return this.getController()
            }
        }
        const Laps = (props) => {
            return(
                <ul className='list-group list-item-flush'>
                    {props.laps.map((lap, index) => {
                        return(
                            <li key={index} className='list-group-item'>
                                <h4>
                                <span className='text-dark'>Minute:</span>
                                <span className='text-danger'> { lap.min } </span>
                                <span className='text-dark'>Sec:</span>
                                <span className='text-danger'> { lap.sec } </span>
                                <span className='text-dark'>Mili:</span>
                                <span className='text-danger'> { lap.mili } </span>
                                </h4>
                            </li>
                        )
                    })}
                </ul>
            )
        }

         class App extends React.Component {
            constructor(props){
                super(props)
                this.state = {
                    time: {
                        min: 0,
                        sec: 0,
                        mili: 0
                    },
                     laps: []
                }
             }
             getStart(){
                this.intervalID = setInterval( () => {
                    let min = this.state.time.min
                    let sec = this.state.time.sec
                    let mili = this.state.time.mili

                    if (mili >= 10) {
                        sec = sec + 1
                        mili = 0
                    }
                    if (sec >= 60) {
                        min = min + 1
                        sec = 0
                    }
                    this.setState({
                        ...this.state,
                        time: {
                            min,
                            sec,
                            mili: mili + 1
                        }
                    })

                }, 100)
            }
            getPause(){
                clearInterval(this.intervalID)
            }
            getLap(){
                let time = {
                    ...this.state.time
                }
                this.setState({
                    ...this.state,
                    laps: [time, ...this.state.laps]
                })
                console.log(this.state.laps)
            }
            getReset(){
                this.setState({
                    time: {
                        min: 0,
                        sec: 0,
                        mili: 0
                    }, 
                     laps: []
                })
            }

            render() {
                return (
                     <div className='App'>
                        <div className='container py-5'>
                            <div className='row'>
                                 <div className='col-sm-8 offset-sm-2'>
                                    <Title />
                                    <CountDown time={this.state.time} />
                                    <Controller 
                                        start = {this.getStart.bind(this)}
                                        pause = {this.getPause.bind(this)}
                                        reset = {this.getReset.bind(this)}
                                        lap = {this.getLap.bind(this)}
                                     />
                                     <Laps 
                                        className='my-5' 
                                        laps={this.state.laps}
                                     />
                                 </div>
                             </div>
                            </div>
                        </div>
                    );
                }
            }


        ReactDOM.render(
            <App />,
            document.getElementById('root'));
        </script>
</body>
</html>